/**
 * Add your own styles in this file.
 * The advantage over editing the values directly in the global/styles folder
 * when working with a forked repository is that the files in the custom folder
 * will unlikely be touched by the upstream in the future, so it is safe to make
 * modifications to this file and assume that no merge conflicts will happen.
 * The most effective way to change colors is to overwrite the variables, e.g. like this:
 *
 * :root {
 *   --color-primary: #abcdef;
 * }
 *
 * To see a list of the css variables that are in place, open the elements inspector
 * in your DevTools and scroll down the styles until you see the declarations made
 * on the :root element.
 */

.autocomplete.sc-d4l-autocomplete [role='listbox'].sc-d4l-autocomplete>li.sc-d4l-autocomplete {
    text-align: left;
}



main {
    padding-top: 0;
    justify-content: center;
}

.app-header .app-header__custom-logo {
    height: auto;
    max-width: 100%;
}

.app-header__logo_link {
    max-width: 315px;
}

.app-header__title {
    margin-right: var(--space-s);
}

main {
    justify-content: space-evenly;
}

.mainIcon img {
    height: 125px;
    width: 125px;
}

.u-infotext.block {
    text-align: justify;
}